---
---

body
    background-color: #ccc
    font-size: 18px
    line-height: 1.25
    max-width: 420px
    padding: 1rem

header 
    h1, h2
        margin: 0

footer p, h4
    margin-bottom: 0

ul
    margin-top: 0.5rem
    padding-left: 1rem
    li
        margin-bottom: 0.5rem
